.gallery-head{
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding-top: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 70px;
}
