h1{
	font-family: 'Lato',Arial,sans-serif;
	color: #566473;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 3em;
}

.handle1 {
    background: url('../../images/Handle1.jpg') bottom center/cover no-repeat;
    width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	margin: 0 auto; 
	margin-bottom: 20px;
}

.handle2 {
    background: url('../../images/Handle2.jpg') bottom center/cover no-repeat;
    width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	margin: 0 auto; 
	margin-bottom: 20px;
}

.handle3 {
    background: url('../../images/Handle3.jpg') bottom center/cover no-repeat;
    width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	margin: 0 auto; 
	margin-bottom: 20px;
}


.inputGroup {
    display: block;
	margin: 0 auto;
	width: 150px;
	text-align: center;
	
	
	
    

    label {
	  padding: 10px;
	  padding-right: 10px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
	  overflow: hidden;
	  
	  
	  

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
		z-index: -1;
		
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      font-weight: 700;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #3F51B5;
        border-color: #3F51B5;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }