.nav-container {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  margin: 0 auto;
}

.nav-container ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}

.nav-container li {
  display: table-cell;
  position: relative;
  padding: 15px 1em;
}

.nav-container a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  display: inline-block;
  position: relative;
  color: black;
}

.nav-container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-container a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  .nav-container ul {
    margin-top: 40px;
  }
}
